* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #e3e4e5;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.jd-nav {
  color: #999999;
  font-size: 12px;
  background-color: #e3e4e5;
  height: 30px;
  width: 1190px;
  margin: 0 auto;
}
.jd-nav .jd-nav-location {
  cursor: pointer;
  float: left;
  padding: 10px 0;
}
.jd-nav .jd-nav-location:hover {
  color: #e1251b;
}
.jd-nav .jd-nav-main {
  float: right;
}
.jd-nav .jd-nav-main span {
  color: #e1251b;
}
.jd-nav .jd-nav-main li {
  cursor: pointer;
  float: left;
  margin: 10px 0;
  padding: 0 15px;
}
.jd-nav .jd-nav-main li:not(:nth-child(1)) {
  border-left: 1px solid #999999;
}
.jd-nav .jd-nav-main li .icon {
  width: 1em;
  height: 1em;
}
.jd-nav .jd-nav-main li:hover {
  color: #e1251b;
}

.jd-serach {
  height: 140px;
  width: 100%;
  padding: 0 0;
  background-color: white;
}
.jd-serach .jd-logo {
  float: left;
  width: 180px;
  height: 140px;
}
.jd-serach .jd-logo img {
  width: 180px;
  height: 130px;
  margin-left: 0;
}
.jd-serach .midmain {
  margin: 30px 0 0 0;
  float: left;
}
.jd-serach .midmain .search {
  margin-left: 63px;
}
.jd-serach .midmain .search .search-input input {
  padding: 2px 44px 2px 17px;
  float: left;
  width: 488px;
  height: 32px;
  border: 3px solid #e1251b;
  color: black;
  outline: none;
}
.jd-serach .midmain .search .search-input input::placeholder {
  color: #bbbbbb;
}
.jd-serach .midmain .search .search-input .search-icon {
  float: left;
  position: relative;
  width: 58px;
  height: 32px;
  background-color: #e1251b;
}
.jd-serach .midmain .search .search-input .search-icon .icon {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}
.jd-serach .midmain .search .search-input .jd-shopcart {
  margin-left: 19px;
  border: 1px solid #bbbbbb;
  float: left;
  width: 132px;
  height: 32px;
  position: relative;
}
.jd-serach .midmain .search .search-input .jd-shopcart ::after {
  content: "0";
  color: white;
  font-weight: bolder;
  font-size: 12px;
  background-color: #e1251b;
  width: 14px;
  height: 14px;
  position: absolute;
  padding-left: 6px;
  padding-bottom: 3px;
  border-radius: 8px;
  top: 0;
  left: 30px;
}
.jd-serach .midmain .search .search-input .jd-shopcart .icon {
  margin-left: 20px;
  width: 1em;
  height: 1em;
}
.jd-serach .midmain .search .search-input .jd-shopcart a {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  color: #e1251b;
  font-size: 12px;
  font-weight: 100;
}
.jd-serach .midmain .search .search-recommend li {
  float: left;
  cursor: pointer;
  font-size: 10px;
  color: #bbbbbb;
  margin-right: 12.5px;
  margin-top: 8px;
  font-weight: 100;
}
.jd-serach .midmain .search .search-recommend li:hover {
  color: #e1251b;
  font-weight: normal;
}
.jd-serach .midmain .search .search-recommend li:nth-child(1) {
  color: #e1251b;
  font-weight: normal;
}
.jd-serach .midmain .search-classify {
  width: 758.11px;
  padding: 20px 0 0 0;
}
.jd-serach .midmain .search-classify ul li {
  cursor: pointer;
  float: left;
  font-size: 15px;
  color: #333333;
  font-weight: lighter;
  margin: 0 11px;
}
.jd-serach .midmain .search-classify ul li:hover {
  color: #e1251b;
  font-weight: normal;
}
.jd-serach .midmain .search-classify ul li:nth-child(1), .jd-serach .midmain .search-classify ul li:nth-child(2) {
  color: #e1251b;
  font-weight: normal;
}
.jd-serach .adver {
  float: left;
}
.jd-serach .adver img {
  width: 180px;
  height: 130px;
}

.jd-classfiy {
  width: 1440px;
  height: 480px;
}
.jd-classfiy .jd-classfiy-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 1190px;
  height: 480px;
  margin: 0 auto;
}
.jd-classfiy .jd-classfiy-inner .left-side {
  width: 190px;
  height: 470px;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 0 10px 10px;
}
.jd-classfiy .jd-classfiy-inner .left-side ul li {
  cursor: pointer;
  float: left;
  color: #333333;
  font-weight: 300;
  font-size: 14px;
  padding: 0px 0px 1px 8px;
}
.jd-classfiy .jd-classfiy-inner .left-side ul li:hover {
  color: #e1251b;
}
.jd-classfiy .jd-classfiy-inner .goods-show {
  width: 800px;
  height: 470px;
  margin-top: 10px;
  margin-right: 10px;
}
.jd-classfiy .jd-classfiy-inner .goods-show .goods-inner {
  display: flex;
  flex-wrap: nowrap;
}
.jd-classfiy .jd-classfiy-inner .goods-show .goods-inner .slider_goods {
  width: 590px;
  height: 470px;
  background-color: white;
  margin-right: 10px;
}
.jd-classfiy .jd-classfiy-inner .goods-show .goods-inner .little_slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 470px;
}
.jd-classfiy .jd-classfiy-inner .goods-show .goods-inner .little_slider .one-little-slider {
  background-color: white;
  width: 190px;
  height: 150px;
}
.jd-classfiy .jd-classfiy-inner .personal {
  margin-top: 10px;
  width: 190px;
  height: 470px;
  background-color: white;
}
.jd-classfiy .jd-classfiy-inner .personal .personal-status {
  width: 190px;
  height: 106px;
}
.jd-classfiy .jd-classfiy-inner .personal .personal-status .personal-status-on {
  border: 1px solid red;
  width: 190px;
  height: 76px;
}
.jd-classfiy .jd-classfiy-inner .personal .personal-status .personal-vip {
  border: 1px solid red;
  width: 100%;
  height: 30px;
}
.jd-classfiy .jd-classfiy-inner .personal .person-hr {
  background: linear-gradient(to left, #efefef, #b6b6b6, #efefef);
  height: 2px;
}
.jd-classfiy .jd-classfiy-inner .personal .jd-kuaibao {
  width: 190px;
  height: 130px;
}
.jd-classfiy .jd-classfiy-inner .personal .jd-live {
  width: 190px;
  height: 230px;
}

.jd-seckill {
  width: 1440px;
  height: 260px;
}
.jd-seckill .jd-seckill-inner {
  margin: 20px auto 0 auto;
  width: 1190px;
  height: 260px;
  display: flex;
  flex-direction: row;
}
.jd-seckill .jd-seckill-inner .seckill-timer {
  width: 190px;
  height: 260px;
  background-color: red;
}
.jd-seckill .jd-seckill-inner .seckill-goods {
  width: 800px;
  height: 260px;
  background-color: white;
}
.jd-seckill .jd-seckill-inner .seckill-kinds {
  width: 200px;
  height: 260px;
  background-color: gray;
}

.jd-sale-shangou {
  width: 1440px;
  height: 340px;
}
.jd-sale-shangou .jd-sale-shangou-inner {
  width: 1190px;
  height: 340px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-sale-shangou .jd-sale-shangou-inner .jd-sale {
  width: 590px;
  height: 340px;
  border: 1px solid black;
}
.jd-sale-shangou .jd-sale-shangou-inner .jd-shangou {
  width: 590px;
  height: 340px;
  border: 1px solid black;
}

.jd-findgood {
  width: 1440px;
  height: 260px;
}
.jd-findgood .jd-findgood-inner {
  margin: 20px auto 0 auto;
  width: 1190px;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-findgood .jd-findgood-inner .findgood-title {
  width: 190px;
  height: 260px;
  background-color: black;
}
.jd-findgood .jd-findgood-inner .findgood-goods {
  width: 990px;
  height: 260px;
  background-color: white;
}

.jd-core2 {
  width: 1440px;
  height: 340px;
}
.jd-core2 .jd-core2-inner {
  width: 1190px;
  height: 340px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-core2 .jd-core2-inner .new-goods {
  width: 290px;
  height: 340px;
  background-color: white;
}
.jd-core2 .jd-core2-inner .rank-list {
  width: 290px;
  height: 340px;
  background-color: white;
}
.jd-core2 .jd-core2-inner .good-store {
  width: 290px;
  height: 340px;
  background-color: white;
}
.jd-core2 .jd-core2-inner .coupon-center {
  width: 290px;
  height: 340px;
  background-color: white;
}

.jd-title-pindao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 1190px;
  height: 45px;
  margin: 20px auto 0 auto;
  text-align: center;
  color: #333333;
  font-size: 15px;
}
.jd-title-pindao .pindao-before {
  width: 20px;
  height: 7px;
  border-radius: 5px;
  background-color: #bbbbbb;
  transform: rotate(-45deg);
}
.jd-title-pindao .pindao-before2 {
  width: 13px;
  height: 5px;
  border-radius: 5px;
  background-color: #bbbbbb;
  transform: rotate(-45deg);
}
.jd-title-pindao .pindao-after {
  width: 20px;
  height: 7px;
  border-radius: 5px;
  background-color: #bbbbbb;
  transform: rotate(-45deg);
}
.jd-title-pindao .pindao-after2 {
  width: 13px;
  height: 5px;
  border-radius: 5px;
  background-color: #bbbbbb;
  transform: rotate(-45deg);
}
.jd-title-pindao h1 {
  margin: 0 20px;
}

.jd-pindao-park {
  width: 1440px;
  height: 760px;
}
.jd-pindao-park .jd-pindao-park-inner {
  width: 1190px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}
.jd-pindao-park .jd-pindao-park-inner .pindao-floor {
  width: 1190px;
  height: 180px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-pindao-park .jd-pindao-park-inner .pindao-floor .pindao-item {
  width: 290px;
  height: 180px;
  background-color: white;
}

.jd-recommend-tab {
  width: 1440px;
  height: 60px;
}
.jd-recommend-tab .jd-recommend-tab-inner {
  background-color: white;
  width: 1190px;
  height: 60px;
  margin: 20px auto 0 auto;
}
.jd-recommend-tab .jd-recommend-tab-inner .jd-recommend-tab-inner-inner {
  border: 1px solid red;
  margin: 20px auto 0 auto;
  width: 1100px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.jd-recommend-tab .jd-recommend-tab-inner .jd-recommend-tab-inner-inner .recommend-tab-title {
  border: 1px solid black;
  width: 180px;
  height: 40px;
}

.jd-recommend-items {
  width: 1440px;
  height: 1328px;
}
.jd-recommend-items .jd-recommend-items-inner {
  width: 1190px;
  height: 1328px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}
.jd-recommend-items .jd-recommend-items-inner .recommend-items-floor {
  width: 1190px;
  height: 322px;
  border: 1px solid yellow;
}
.jd-recommend-items .jd-recommend-items-inner .recommend-items-floor .recommend-item-inner {
  width: 1190px;
  height: 322px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-recommend-items .jd-recommend-items-inner .recommend-items-floor .recommend-item-inner .recommend-item {
  width: 230px;
  height: 322px;
  border: 1px solid black;
}

.jd-service {
  width: 1440px;
  height: 42px;
}
.jd-service .jd-service-inner {
  width: 1190px;
  height: 42px;
  margin: 30px auto 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jd-service .jd-service-inner .service-item {
  width: 279px;
  height: 42px;
  border: 1px solid blue;
}

.jd-help {
  width: 1440px;
  height: 200px;
}
.jd-help .jd-help-inner {
  width: 1190px;
  height: 200px;
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.jd-help .jd-help-inner .help-item {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
